/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
    font-family: var(--main-font-family), sans-serif;
    font-size: 18px;
    margin: 100px auto;
    color: #000;
    background-image: linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
    background-repeat: repeat, repeat, no-repeat;
    background-attachment: fixed;
    background-position: top left, top left, center;
    background-size: 4px 4px, 4px 4px, cover;
    min-inline-size: 320px;
    min-block-size: 100dvb;
    inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    font-variation-settings: 'wght' 400;
}

.page:has(.dialog[open]) {
    overflow: hidden;
}

.header {
    font-family: var(--accent-font-family), fantasy;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid currentColor;
    background-color: #fff;
    padding-block: 128px;
}

.header__logo {
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    margin-block-start: 20px;
}

.main {
    margin-block: 100px 50px;
}

.card {
    border: 2px solid currentColor;
    background-color: #fff;
}

.card:not(:first-of-type) {
    margin-block-start: 50px;
}

.card__image-filter-min-saturate {
    filter: saturate(25%);
}

.card__image-filter-max-saturate {
    filter: saturate(400%);
}

.card__image-filter-hue {
    filter: hue-rotate(20deg);
}

.card__image-filter-invert {
    filter: invert(90%);
}

.card__image-filter-sepia {
    filter: sepia(90%);
}

.card__image-filter-blur {
    filter: blur(20px);
}

.card__image-filter-multiple {
    filter: hue-rotate(90deg) blur(2px) invert(20%);
}

.card__title {
    font-size: 18px;
    font-weight: 700;
    margin: 5px 10px;
    font-variation-settings: 'wght' 700;
}

.card__image-wrapper {
    position: relative;
    border-block: 2px solid currentColor;
}

.card__image {
    max-block-size: 100%;
    max-inline-size: 100%;
    object-fit: cover;
    object-position: center;
}

.card__image-label {
    font-family: var(--accent-font-family), fantasy;
    font-size: 14px;
    position: absolute;
    opacity: 0.5;
    text-shadow: 0 -1px #fff, 1px 0 #fff, 0 1px #fff, -1px 0 #fff;
    inset-block-start: 25px;
    inset-inline-end: 25px;
    mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
    .card__image-label {
        -webkit-text-stroke: 1px #fff;
        text-stroke: 1px #fff;
        text-shadow: none;
    }
}

.card__content {
    margin: 25px;
}

.card__text:not(:first-of-type) {
    margin-block-start: 27px;
}

.card__buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-block-start: 25px;
    gap: 4px;
}

.card__icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3s ease;
    border: 2px solid transparent;
    background-color: transparent;
    max-block-size: 38px;
}

.card__icon-button:focus-visible {
    border: 2px solid currentColor;
}

.like-icon {
    min-block-size: 36px;
    min-inline-size: 39px;
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s linear;
    color: #fff;
    border: 2px solid #000;
    background-color: #fff;
}

.button:focus-visible {
    box-shadow: 2px 2px 0 0 #000;
}

.card__like-button {
    min-inline-size: 130px;
    min-block-size: 38px;
}

@media (hover: hover) {
    .button:after {
        position: absolute;
        content: '';
        transition: scale 0.5s ease-in-out;
        transform-origin: left;
        background-color: #000;
        inset: 0;
        scale: 0 1;
    }

    .button:hover:after {
        scale: 1 1;
    }
}

.button__text {
    font-family: var(--accent-font-family), fantasy;
    font-size: 14px;
    line-height: 90%;
    position: relative;
    order: 1;
    mix-blend-mode: difference;
}

.save-button {
    margin: 50px auto 0;
    min-block-size: 55px;
    min-inline-size: 339px;
    gap: 8px;
}

.save-button svg {
    position: relative;
    z-index: 1;
    max-inline-size: 21px;
    mix-blend-mode: difference;
}

.dialog {
    position: fixed;
    padding: 30px;
    border: 2px solid currentColor;
    inset: 0;
    max-inline-size: 357px;
}

.dialog::backdrop {
    background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dialog__content svg {
    max-inline-size: 39px;
}

.dialog__text {
    font-family: var(--accent-font-family), fantasy;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color: currentColor;
}

.dialog__button {
    text-transform: uppercase;
    min-block-size: 38px;
    min-inline-size: 100%;
    margin-block-start: 30px;
}

@media (width <= 375px) {
    .header {
        padding-block: 120px;
    }

    .card__image-label {
        inset-inline-end: 13px;
    }

    .save-button {
        flex-direction: column;
        min-block-size: 84px;
        min-inline-size: 306px;
    }

    .save-button svg {
        max-inline-size: 28px;
    }

    .dialog {
        max-inline-size: 341px;
        padding-inline: 40px;
    }
}